name: GDscript Formatter

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Format GDScript Code
      - uses: quantum-defence/gdformatter@v0.1.5
